#newsletter {
    display: flex;
    flex-direction: row;
    background-color: purple;
    justify-content: space-between;
    
    

}

#champs_newsletter {
    display: flex;
    align-items: center;
    color: white;
    opacity: 60%;
    font-size: smaller;

}
button {
    background-color: #0aff54;
    color: white;
 
    
}